/*这是css的注释*/
/*内联样式）Inline style > （内部样式）Internal style sheet >（外部样式）External style sheet > 浏览器默认样式*/
p
{
	text-align:center;
	/*这是另一个注释*/
	color:black;
	font-family:arial;
}
#para
{
	text-align:center;
	color:red;
}

.left {text-align:right;}